/* General Styling */
body {
	font-family: 'Roboto', sans-serif;
	background-color: #fafafa;
}

/* Navbar Styling */

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
	color: #ff5252;
}

}

nav .navbar-collapse {
	font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #ff5252;
}

/* Login Styling */
#login {
	background-color: #049cdb;
	width: 100%;
	height: 100%;
	position: absolute;
	display: table;
}

#signup_fields {
	display: none;
}

.sign-up {
	background-color: #fff;
	max-width: 600px;
	padding: 20px;
	display: inline-block;
}

#login-fields {
	display: table-cell;
	vertical-align: middle;
}

#login-fields h4 {
	margin-top: 20px;
	margin-bottom: 20px;
	font-style: italic;
	color: #fff;
}

#login-fields img {
	margin: 10px auto 30px;
}

#login-fields form.login {
	display: none
}

#login-fields form.login {
	display: block;
}

#login-fields form.login input {
	width: 400px;
	display: inline-block;
	border: 1px solid #ccc;
	padding: 25px;
	border-radius: 0;
	font-size: 12px;
}

#login-fields button {
	width: 400px;
	border: 1px solid #ccc;
	padding: 15px;
	border-radius: 0;	
	background-color: #005580;
	color: #fff;
}

#login-fields #login-back {
	margin: 20px auto;
	background-color: #fff;
	color: #005580;
	border: 1px solid #005580;
}

#login-fields h2 {
	color: #fff;
}

/* Home Styling */
#home .white-content {
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ccc;
}

#home hr.hor-line{
	max-width: 100px;
    margin: 20px auto 25px;
    border-color: rgba(0,0,0,.5);
    border-width: 2px;
}

#home p{
	margin-bottom: 20px;
}

#home #submit-form h2 {
	color: #005580;
	margin-bottom: 20px;
}

#home #submit-form input, .sign-up #submit-form input{
	border: 1px solid #ccc;
	border-radius: 0;
	padding: 25px 20px;
	background: #EEE;
	font-size: 12px;
	-webkit-appearance: none;
   	-moz-appearance: none;
	appearance: none;
}

#home #submit-form button, .sign-up #submit-form button{
	border: 1px solid #ccc;
	border-radius: 0;
	padding: 10px;
	background-color: #005580;
	color: #fff;
}

#user-lists .table {
	padding: 10px;
}

#user-lists .table thead tr td{
	font-weight: bold;
}

/* Footer styling */
footer{
  	width: 100%;
  	height: 60px;
  	background-color: #f8f8f8;
  	text-align: center;
  	border-top: 1px solid #E7E7E7;
  	margin-top: 20px;
}

footer .container .text-muted{
	margin: 20px 0;
}